<div class="container mt-5">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h2 class="text-primary font-weight-bold">Items</h2>

  <!-- Button to show the form -->
  <button class="btn btn-primary mb-3" (click)="showItemForm = !showItemForm">
    {{ showItemForm ? 'Cancel' : (newItem.id === 0 ? 'Create New Item' : 'Edit Item') }}
  </button>
</div>
  <!-- Hidden form for creating or editing an item -->
  <form *ngIf="showItemForm" (ngSubmit)="createItem()" class="shadow p-4 bg-light rounded mb-4">
    <h4 class="text-secondary">{{ newItem.id === 0 ? 'Create New Item' : 'Edit Item' }}</h4>

    <div class="form-group mb-2">
      <label for="name">Name</label>
      <input type="text" id="name" class="form-control" [(ngModel)]="newItem.name" name="name" required />
      <div *ngIf="!newItem.name">
        <small >Name is required.</small>
      </div>
    </div>
    <div class="form-group mb-2">
      <label for="sKUCode">SKU Code</label>
      <input type="text" id="sKUCode" class="form-control" [(ngModel)]="newItem.skuCode" name="skuCode" required />
      <div *ngIf="!newItem.skuCode">
        <small >SKU Code is required.</small>
      </div>
    </div>
    <div class="form-group mb-2">
      <label for="Qty">Quantity</label>
      <input type="number" id="Qty" class="form-control" [(ngModel)]="newItem.qty" name="qty" required />
      <div *ngIf="!newItem.qty || (newItem.qty && newItem.qty <= 0)">
        <small *ngIf="!newItem.qty">Quantity is required.</small>
        <small *ngIf="(newItem.qty && newItem.qty <= 0)">Quantity must be greater than 1.</small>
      </div>
    </div>
    <div class="form-group mb-2">
      <label for="CostPrice">Cost Price</label>
      <input type="number" id="CostPrice" class="form-control" [(ngModel)]="newItem.costPrice" name="costPrice" required />
      <div *ngIf="!newItem.costPrice">
        <small >Cost Price is required.</small>
      </div>
    </div>
    <div class="form-group mb-2">
      <label for="MSRPPrice">MSRP Price</label>
      <input type="number" id="MSRPPrice" class="form-control" [(ngModel)]="newItem.msrpPrice" name="msrpPrice" required />
      <div *ngIf="!newItem.msrpPrice">
        <small >MSRP Price is required.</small>
      </div>
    </div>
    <div class="form-group mb-2">
      <label for="WarehouseId">Warehouse</label>
      <select id="WarehouseId" class="form-control" [(ngModel)]="newItem.warehouseId" name="warehouseId" required>
        <option value="" disabled>Select Warehouse</option>
        <option *ngFor="let warehouse of warehouseSelectList" [value]="warehouse.id">
          {{ warehouse.name }}
        </option>
      </select>
      <div *ngIf="!newItem.warehouseId">
        <small >Warehouse is required.</small>
      </div>
    </div>
    <button type="submit" class="btn btn-success mt-3" [disabled]="
      !this.newItem.name ||
      !this.newItem.skuCode  ||
      !this.newItem.qty  ||
      (this.newItem.qty && this.newItem.qty <= 0)  ||
      !this.newItem.costPrice ||
      !this.newItem.msrpPrice ||
      !this.newItem.warehouseId
    ">{{ newItem.id === 0 ? 'Create' : 'Update' }}</button>
  </form>

  <!-- Items Table -->
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>SKU Code</th>
        <th>Quantity</th>
        <th>Cost Price</th>
        <th>MSRP Price</th>
        <th>Warehouse</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of data">
        <td>{{ item.id }}</td>
        <td>{{ item.name }}</td>
        <td>{{ item.skuCode }}</td>
        <td>{{ item.qty }}</td>
        <td>{{ item.costPrice }}</td>
        <td>{{ item.msrpPrice }}</td>
        <td>{{ getWarehouseName(item.warehouseId) }}</td>
        <td class="d-flex justify-content-around">
          <button class="btn btn-warning btn-sm" (click)="editItem(item)">Edit</button>
          <button class="btn btn-danger btn-sm" (click)="deleteItem(item.id!)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>

  <nav aria-label="Page navigation" *ngIf="pagination.totalPages > 1">
    <ul class="pagination">
      <li class="page-item" [class.disabled]="pagination.pageNumber === 1">
        <a class="page-link" (click)="previousPage()">Previous</a>
      </li>
      <li *ngFor="let page of [].constructor(pagination.totalPages); let i = index" 
          class="page-item" [class.active]="pagination.pageNumber === i + 1">
        <a class="page-link" (click)="setPage(i + 1)">{{ i + 1 }}</a>
      </li>
      <li class="page-item" [class.disabled]="pagination.pageNumber === pagination.totalPages">
        <a class="page-link" (click)="nextPage()">Next</a>
      </li>
    </ul>
  </nav>
</div>
