<div *ngIf="warehouse">
  <h2>{{ warehouse.name }}</h2>
  <div>
    Name:
    <input [(ngModel)]="warehouse.name" placeholder="Name" />
  </div>
  <div>
    Address:
    <input [(ngModel)]="warehouse.address" placeholder="Address" />
  </div>
  <div>
    City:
    <input [(ngModel)]="warehouse.city" placeholder="City" />
  </div>
  <div>
    Country:
    <input [(ngModel)]="warehouse.country" placeholder="Country" />
  </div>
  <button (click)="update(warehouse)" *ngIf="warehouse.id">Save</button>
  <button (click)="delete(warehouse)" *ngIf="warehouse.id">Delete</button>
  <button (click)="create(warehouse)" *ngIf="!warehouse.id">Create</button>
</div>
